*{
    margin:0;
    padding:0;
    color:white;
}

body{
    background-color: #221C48;
}

.main{
    width: 27%;
    margin-left: 35%;
    padding-top:5%;
}

.form {
    border: 1px solid white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:50px;
}

form label, input{
    color: black;
    margin:10px;
    height:20px;
}
input{
    background-color:#C4C4C4;
}
.submit{
    padding:10px;
    margin-top: 20px;
    width: 100px;
    height:40px;
    margin-left:70px ;
}

.form a{
    text-decoration: none;
    color: #221C48;
    text-align: center;
}

#sign, #login{
    text-align: center;
}