*{
    margin:0;
    padding:0;
    color:white;
}

body{
  background-color: #221C48;
}
/*---------------------------*/
form{
  display: flex;
  flex-direction: column;
  color: white;
  padding:30px;
  align-items: center;
}
form input{
  width:400px;
  height:30px;
  border:none;
  border-bottom:1px solid white;
  margin:20px;
  color:white;
}
form label{
  margin:20px;
  color: white;
}
select{
  width:400px;
  height:30px;
  color: white;
  margin-left:20px;
}
#submit{
  width:150px;
  background-color: white;
  height:50px;
  font-size:large;
  color: black;
  margin-top:70px;
}
:placeholder-shown{
  color: white;
}
/*-----------------------------------*/