*{
    margin:0;
    padding:0;
    color:white;
}

body{
    background-color: #221C48;
}
/*----------------------------------------*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------*/
.first-main{
    padding:5%;
    display: flex;
    justify-content: center;
}

.box1{
    display: flex;
    width:70%;
    height:500px;
    background-image: url(../media/homepage-cinema.jpg);
    background-position:50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11px;
}
a#about{
    border: 1px solid #B91515;
    background-color: #B91515;
    font-size:x-large;
    position: absolute;
    left:400px;
    top:500px;
    text-decoration: none;
    padding:15px;
    border-radius: 5px;
}
.firstL{
    position: absolute;
    left:350px;
    top:200px;
    font-size: xx-large;
}
.secondL{
    width: 30px;
    height: 28px;
    background-color: #B91515;
    position: absolute;
    left:540px;
    top:500px;
    padding:15px;
    border-radius: 5px;
}
.thirdL{
    font-size: x-large;
    margin-left: 12%;
    padding:10px;
}
.fourthL{
    font-size: x-large;
    margin-left: 20%;
    padding:10px;
    margin-top:5em;
}
.triangle{
    margin:5px;
    width:20px;
    height:20px;
}
/*---------------------*/
.second-main, .third-main{    
    display: flex;
    justify-content: center;
}
.box2 ul{
    justify-content: center;
    padding:10px;
}
.box2{
    width: 80%;
    background-color: #141032;
    border-radius: 10px;
}
.box2 ul li img{
    margin:10px;
    width: 150px;  
    height:220px;
}

/*---------*/
.box3{
    background-color:#141032 ;
    width:60%;
}
.box3 ul li img {
    width:300px;
    margin-right: 50px;
}
.box3 ul ul{
    display: flex;
    padding: 30px;
}
/*---------------------------------*/

