*{
    margin:0;
    padding:0;
    color:white;
}

body{
    background-color: #221C48;
}
/*----------------------------------------*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------*/
.first-main{
    padding:5%;
    display: flex;
    justify-content: center;
}

.box1{
    width:70%;
    height:500px;
    background-image: url(../media/homepage-cinema.jpg);
    background-position:50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11px;
}
a#about{
    font-size: larger;
    position: absolute;
    left:400px;
    top:500px;
}
/*---------------------*/
.second-main, .third-main{    
    display: flex;
    justify-content: center;
}
.box2 ul{
    justify-content: center;
    padding:10px;
}
.box2{
    width: 80%;
    background-color: #141032;
    border-radius: 10px;
}
.box2 ul li img{
    margin:10px;
    width: 150px;  
    height:220px;
}

/*---------*/
.box3{
    background-color:#141032 ;
    margin-top:5em;
    width:60%;
}
.box3 ul li img {
    width:300px;
    margin-right: 50px;
}
.box3 ul ul{
    display: flex;
    padding: 30px;
}
/*---------------------------------*/

