*{
    margin:0;
    padding:0;
    color:white;
}

body{
    background-color: #221C48;
    width:100vw;
    height:100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color: #141032;
}

.right-header ul, .left-header ul, .box2 ul {
    display: flex;
    list-style-type: none;
}

.right-header ul li, .left-header ul li{
    margin-left:50px;
    margin-right: 50px;
}

.right-header ul li a, .left-header ul li a{
    text-decoration: none;
}

/*----------------------------------------*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------*/
.first-main{
    padding:5%;
    display: flex;
    justify-content: center;
}

.box1{
    width:70%;
    height:500px;
    background-image: url(../media/homepage-cinema.jpg);
    background-position:50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11px;
}
/*---------------------*/
.second-main{    
    display: flex;
    justify-content: center;
}

.box2{
    border:1px solid red;
    width: 80%;
}

.box2 ul li img{
    margin:10px;
    
}
